@model IEnumerable<Jober.Models.Job>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <form asp-action="Index" asp-controller="Home" method="get">
            <div class="form-horizontal">
               
                <div class="form-group">
                    <label  class="col-md-2 control-label">Search Job</label>
                    <div class="col-md-10">
                        <input type="text"  name="searchValue" class="form-control" />                        
                    </div>
                </div>   
                <div class="form-group">
                    <label  class="col-md-2 control-label">City</label>
                    <div class="col-md-10">
                        <select name="CityId"
                                asp-items="@ViewBag.Cities">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            
            </div>
</form>

    </div>
    <div class="col-md-9">
       

        <table class="table table-bordered" >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>@Html.DisplayNameFor(model => model.CityId)</th>
                <th>
                    @Html.DisplayNameFor(model => model.Added)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.City.Name</td>
                    <td>@item.Added</td>
                    <td>@item.Description</td>
                </tr>

             }
        </table>
    </div>
</div>